.Cuerpo{
	background-color: #233444;
}
.slider-frame {
	width: 100%;
    height:auto;
	margin:10px auto 0;
	overflow: hidden;
    
}
.Logo{
	display: flex;
	height: 70px;
	width: 70px;
	margin: 5px;
}
.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.slider-frame{
	background-color: #2c4257;
	box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
	
}
.Canales{
	display: flex;
	width: 15rem;
	height: 10rem;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
    translate: 2.5rem;
	margin: 1rem;
	
}
.Liga{
	transition: .5s;
	background: local;
}
.Liga:hover {
	transform: scale(1.2);
	
}

.Liga:active{
	transform: scale(0.9);

}

.Calendario{
	align-items: center;
	text-align: center;
}
.CaleDeport{

	display: flex;
	padding: 1rem;
	background-color: #2c4257;
	box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
	border-radius: 1rem;
	width: 25rem;
	height: 28rem;
	flex-direction: column;
	margin: auto;
	

}

.CabezaT{
	text-align: center;
	color: white;
	background-color: #3d5c79b2;
	border-radius: 1rem;
	padding: .3rem;
	margin: 1rem;
}
th{
	color: #fff;
	padding: 1rem;
	background-color: #3f5d79cc;
	
}
.ConteC{
 box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .9);;
}

.LigasCont{
	width: 15rem;
	height: 10rem;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin: 1rem;
	
	margin: auto;
	margin-left: auto;
}


.Ligas{
	display: flex;
	background-color: white;
	height: 12rem;
	width: 12rem;
	transition: .2s;
	border: black 2rem;
	border-radius: 2rem;
	margin: 1rem;
	box-shadow: 0 0 2rem

}
.Ligas:hover{
	transition: .2s;
	transform: scale(1.1);
}


.Ligas:active{
	transform: scale(.9);
}

.Contenido{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #2a4763;
}
.Informacion{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	color: white;
}

.Competencia{
	display: flex;
	width: 6rem;
	margin: 1rem;
	background-color: rgb(255, 255, 255);
    border-radius: 1rem;
	box-shadow: 0 0 .2rem
}

.Ubicacion{
	transform: translateY(-9rem);
}
.Equipos{
    display: flex;
}
.Marcador{
 display: flex;
 height: 3rem;
 flex-direction: row;
 transform: translateY(-10rem);
}
#Local {
	transform: translateX(-5rem);
	background-color: #233444;
	box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
	margin-right: 3rem;
	border-radius: 1rem;
	height: 12rem;

 }
 #Visitante {
	transform: translateX(5rem);
	height: 12rem;
	box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
    border-radius: 1rem;
	background-color: #233444;
	margin-left: 3rem;
 }
#Tiempo{
	transform: translateY(-10rem);
}
#Home{
	margin-right: 2rem;
	text-align: center;
}
#Away{
	text-align: center;
	margin-left: 2rem;
}
